<h1>New User</h1>

<%= form_for @user, url: {action: "create"} do |user_form| %>
  <%= user_form.text_field :name %>
  <%= user_form.submit "Create new account"%>
<% end %>

<%= link_to 'Back', users_path %>
